.navbar {
  box-shadow: 0 1px 5px gray;
  height: 130px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.nav-content {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar-body > p {
  margin: 0;
}

.navbar-body-topic {
  font-size: 4vw;
  font-weight: 900;
}

.navbar-select-date {
  width: 180px;
}